[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
sklearn = "*"
xgboost = "*"
pandas = "*"
markovify = "*"
jupyter = "*"
praw = "*"

[packages]
twython = "*"
gensim = "==3.8.3"
numpy = "*"
joblib = "*"
sanic = "*"
xgboost = "*"
sklearn = "*"
markovify = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
